@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');

$primary-font: Times, "Times New Roman", serif;
$secondary-font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$tertiary-font: "Concert One", cursive;
$quaternary-font: "Open Sans Condensed", sans-serif;

